*
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!templates/
!templates/**
!migrations/
!migrations/**
!styles.css
!admin.js
!mermaid.js
!math.js
!theme.js
!assets/
!assets/**
!docker/
!docker/dockerfiles/
!docker/dockerfiles/Dockerfile
